div h2{
    font-size: 40px;
    color:#0042d0;
    text-shadow: 2px 2px 4px rgba(40, 86, 193, 0.7);

    padding: 0 0 0 0;
    margin:0;
    font-family: var(--fonte-jose);
    
}
.textoSecundario{
    color: rgb(16, 146, 2);
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(17, 237, 90, 0.7);
    
}
.divTexto{
    height: 400px;
    margin: 0;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.links{
    display: flex;
    justify-content: center;
}
.principal{
    background:linear-gradient(90deg, #cdffd8, #94b9ff);
    display: flex;
    justify-content: space-around;
    margin-right: 0;    

}
.logo{
    max-width: 100%;
    position: relative;

}
.logoP{
    display: none;
}

@media screen and (max-width:1023px){
    .principal{
        margin: 0;
    }
    div h2{
        font-size: 30px;
        
        
        
    }
    .divTexto{
        padding-right: 1px;
        max-width: 100%;
        
    }
    .links{
        padding-left: 0;
    }
    .logo{
        display: none;
    }
    .logoP{
        max-height: 50%;
        max-width: 100%;
        padding-right: 0;
        display: none;
        
    }
}
@media screen and (max-width:667px){

    .logoP{
        display: none;
    }
    .divTexto{
        padding-right: 0;
        max-width: 100%;
        
    }
    .links{
        padding-left: 0;
    }
}
