.section{
    background:linear-gradient(90deg, #f2f9f4, #94b9ff);
    font-family: var(--fonte-jose);
    padding: 3em;
}
.container div{
    display: flex;
    justify-content:center ;
    
}

.section h1{
    font-size: 44px;
    color: rgb(32, 211, 20);
    text-shadow:30px 35px 4px #126ea0;
}
.boxSobreMim p{
    color:rgb(9, 7, 7) ;
    font-size:24px;
    padding-right: 60px;
    color: rgb(1, 0, 0);
    max-width: 40%;
    text-align: center;
    
}
@media  screen and (max-width:1024px) {

    .divTitulo h1{
        padding: 10px;
    }
    .container div{
        display:flex;
        justify-content: center;
        flex-direction: column;
    }
    .boxSobreMim p{
        margin-right: 0;
        max-width: 100%;
        align-items: center;
        
    }
}