.menu {
   
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: auto;
    transition: all 0.5s ease;
    position: relative;
  }
  
  .botao {
    cursor: pointer;
  }
  